{% extends "layout.html"%}
 {% block content %}
  <h1 style=" color: #000; font-family: Macondo">Amazing Blog</h1>
  <hr>
  <p style="font-size: 24px;font-family: Koulen; color: #000; font-weight: bold">Its a web application that allows users to post their own blogs and creative ideas that make them standout from the rest. It's a web application that allows users to post their blogs,update their blogs and even delete. The users are able to view updated blogs from their fellow colleagues.
  </p>
  {% endblock content%}